<section data-ng-controller="HomeController" >

<!--  <div class="progress" ng-hide="loaded">
      <div class="indeterminate"></div>
  </div> -->
   <div class="parallax-container">
    <div parallax><img src="modules/core/img/dp1.jpg"></div>
    <div class="section no-pad-bot" id="index-banner">

    <div class="">
      <br><br>
      <h1 class="header center orange-text">Dreamwave Platform</h1>
      <div class="row center">
        <h5 class="header col s12 orange-text">Digital platform to bulid your next gen applications</h5>
        <span class="header col s12 blue-text text-lighten-5">  We empahsize on building next generation digital platforms to serve your business needs. You have idea, we have technology, conceptulize your idea on our platform to get working product with in days not months.</span>
      </div>
      <div class="row center">
        <a data-ui-sref="authentication.signup" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>

</div>
 


  
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

  

</section>


<footer class="page-footer deep-orange">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">Dreamwave™</h5>
          <p class="grey-text text-lighten-4">No 8/A-14, East End Main road, Jayanagar 4th T Block, Bangalore - 560041</p>


        </div>

      
     
        <div class="col l4 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" data-ui-sref="about" href="#">About Us</a></li>
            <li><a class="white-text" data-ui-sref="contact us">Contact Us</a></li>
            <li><a class="white-text" href="#!">Request for Demo</a></li>
          </ul>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">2017 Dreamwave Technologies</h5>
          <p>All rights reserved.</p>
          <ul>
            <li><a class="white-text" data-ui-sref="about">Privacy policy</a></li>
            <li><a class="white-text" data-ui-sref="contact us">Terms of Use</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      @2017 <a class="orange-text text-lighten-3" href="#">Dreamwave Technologies</a>
      </div>
    </div>
  </footer>